# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
sandbox/staticfiles/admin/css/autocomplete.css
sandbox/staticfiles/admin/css/base.css
sandbox/staticfiles/admin/css/changelists.css
sandbox/staticfiles/admin/css/dark_mode.css
sandbox/staticfiles/admin/css/dashboard.css
sandbox/staticfiles/admin/css/fonts.css
sandbox/staticfiles/admin/css/forms.css
sandbox/staticfiles/admin/css/login.css
sandbox/staticfiles/admin/css/nav_sidebar.css
sandbox/staticfiles/admin/css/responsive_rtl.css
sandbox/staticfiles/admin/css/responsive.css
sandbox/staticfiles/admin/css/rtl.css
sandbox/staticfiles/admin/css/widgets.css
sandbox/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
sandbox/staticfiles/admin/css/vendor/select2/select2.css
sandbox/staticfiles/admin/css/vendor/select2/select2.min.css
sandbox/staticfiles/admin/fonts/LICENSE.txt
sandbox/staticfiles/admin/fonts/README.txt
sandbox/staticfiles/admin/fonts/Roboto-Bold-webfont.woff
sandbox/staticfiles/admin/fonts/Roboto-Light-webfont.woff
sandbox/staticfiles/admin/fonts/Roboto-Regular-webfont.woff
sandbox/staticfiles/admin/img/calendar-icons.svg
sandbox/staticfiles/admin/img/icon-addlink.svg
sandbox/staticfiles/admin/img/icon-alert.svg
sandbox/staticfiles/admin/img/icon-calendar.svg
sandbox/staticfiles/admin/img/icon-changelink.svg
sandbox/staticfiles/admin/img/icon-clock.svg
sandbox/staticfiles/admin/img/icon-deletelink.svg
sandbox/staticfiles/admin/img/icon-no.svg
sandbox/staticfiles/admin/img/icon-unknown-alt.svg
sandbox/staticfiles/admin/img/icon-unknown.svg
sandbox/staticfiles/admin/img/icon-viewlink.svg
sandbox/staticfiles/admin/img/icon-yes.svg
sandbox/staticfiles/admin/img/inline-delete.svg
sandbox/staticfiles/admin/img/LICENSE
sandbox/staticfiles/admin/img/README.txt
sandbox/staticfiles/admin/img/search.svg
sandbox/staticfiles/admin/img/selector-icons.svg
sandbox/staticfiles/admin/img/sorting-icons.svg
sandbox/staticfiles/admin/img/tooltag-add.svg
sandbox/staticfiles/admin/img/tooltag-arrowright.svg
sandbox/staticfiles/admin/img/gis/move_vertex_off.svg
sandbox/staticfiles/admin/img/gis/move_vertex_on.svg
sandbox/staticfiles/admin/js/actions.js
sandbox/staticfiles/admin/js/autocomplete.js
sandbox/staticfiles/admin/js/calendar.js
sandbox/staticfiles/admin/js/cancel.js
sandbox/staticfiles/admin/js/change_form.js
sandbox/staticfiles/admin/js/collapse.js
sandbox/staticfiles/admin/js/core.js
sandbox/staticfiles/admin/js/filters.js
sandbox/staticfiles/admin/js/inlines.js
sandbox/staticfiles/admin/js/jquery.init.js
sandbox/staticfiles/admin/js/nav_sidebar.js
sandbox/staticfiles/admin/js/popup_response.js
sandbox/staticfiles/admin/js/prepopulate_init.js
sandbox/staticfiles/admin/js/prepopulate.js
sandbox/staticfiles/admin/js/SelectBox.js
sandbox/staticfiles/admin/js/SelectFilter2.js
sandbox/staticfiles/admin/js/urlify.js
sandbox/staticfiles/admin/js/admin/DateTimeShortcuts.js
sandbox/staticfiles/admin/js/admin/RelatedObjectLookups.js
sandbox/staticfiles/admin/js/vendor/jquery/jquery.js
sandbox/staticfiles/admin/js/vendor/jquery/jquery.min.js
sandbox/staticfiles/admin/js/vendor/jquery/LICENSE.txt
sandbox/staticfiles/admin/js/vendor/select2/LICENSE.md
sandbox/staticfiles/admin/js/vendor/select2/select2.full.js
sandbox/staticfiles/admin/js/vendor/select2/select2.full.min.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/af.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ar.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/az.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/bg.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/bn.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/bs.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ca.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/cs.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/da.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/de.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/dsb.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/el.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/en.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/es.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/et.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/eu.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/fa.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/fi.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/fr.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/gl.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/he.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/hi.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/hr.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/hsb.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/hu.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/hy.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/id.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/is.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/it.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ja.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ka.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/km.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ko.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/lt.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/lv.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/mk.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ms.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/nb.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ne.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/nl.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/pl.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ps.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/pt.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ro.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/ru.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sk.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sl.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sq.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sr.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/sv.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/th.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/tk.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/tr.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/uk.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/vi.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
sandbox/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
sandbox/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
sandbox/staticfiles/admin/js/vendor/xregexp/xregexp.js
sandbox/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
